/test/*
shell
/historyFile.txt
/historyFile.txt
/*.txt
historyFile
*.txt
globtest/
script.py
vulnerabilityTestScripts/
pythonTestScripts/
test/
otherStuff/
issuesTemplates
dvshell_easy
dvshell_hard
dvshell_expert